html {
    font-size: 12pt;
}

body {
    font-size: 1rem;
}

.option-hidden {
    display: none;
}

p.segment {
    white-space-collapse: preserve;
}

/* Segment dot */
p.segment>span.segment-info-dot {
    color: green;
}

p.segment>span.segment-info-dot.error {
    color: red;
}

p.segment>span.segment-info-dot:hover {
    color: lightgreen;
    cursor: pointer;
}

p.segment>span.segment-info-dot.error:hover {
    color: lightcoral;
    cursor: pointer;
}

/* Data element */
p.segment>span.data-element:hover {
    background-color: lightgreen;
    cursor: pointer;
}

p.segment>span.data-element.error {
    background-color: lightpink;
    cursor: pointer;
}

p.segment>span.data-element.error:hover {
    background-color: lightcoral;
    cursor: pointer;
}

#message, #results {
    font-size: 0.9em;
}

#message {
    height: 15em;
}