<%- layout("layouts/boilerplate") %> 
<header class="container">
  <h1 class="">EDI Analyzer</h1>
</header>

<main class="container">
  <section id="options" class="d-flex flex-column mb-3">
    <form class="row row-cols-sm g-3" id="validatationForm">

      <div class="col-12 col-lg-4">
        <label class="visually-hidden" for="standard">EDI Standard</label>
        <div class="input-group">
          <span class="input-group-text">EDI Standard</span>
          <select class="form-select" name="standard" id="standard">
            <option disabled selected value="" class="option-hidden"></option>
            <% for (let ediStandard of ediStandards) { %>
            <option value="<%= ediStandard.name %>">
              <%= ediStandard.name %>
            </option>
            <% } %>
          </select>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <label class="visually-hidden" for="type">Message type</label>
        <div class="input-group">
          <span class="input-group-text">Message type</span>
          <select class="form-select" name="type" id="type">
          </select>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <label class="visually-hidden" for="version">Version</label>
        <div class="input-group">
          <span class="input-group-text">Version</span>
          <select class="form-select" name="version" id="version">
          </select>
        </div>
      </div>

      <!-- <div class="col-12">
        <input type="checkbox" name="autoDetect" id="autoDetect">
        <label for="autoDetect">Auto detect standard, message type and version</label>
      </div> -->

      <div class="col-12 form-floating">
        <textarea class="form-control font-monospace" placeholder="Type or paste a message here"
          id="message" name="message"></textarea>
        <label for="message">Message</label>
      </div>

      <div class="col-12 d-flex">
        <div>
          <button class="btn btn-secondary" type="submit" id="submit">Validate</button>
          <button class="btn btn-secondary" type="reset" id="clearMessage">Clear message</button>
        </div>
      </div>

    </form>

  </section>

  <section class="border rounded p-2 overflow-x-auto text-nowrap mb-3 d-none" id="results"></section>
  
  <button type="button" class="btn btn-secondary d-none">Show human readable version</button>

  <div class="modal" tabindex="-1" id="analyzerModal"></div>
</main>